
<app-header></app-header>

  <h1>{{ title }}</h1>

<br>
<br>


  <h3> Welcome to Ready2Help</h3>
  <h4>Always ready to help you!</h4>
  <br>

  <p> Through this helpdesk site you will be able to solve all your technical inquiries.
    Please Login in our platform and let us know what is your issue, and with our staff will give our best to solve your troubles!</p>
  <br>
  <h4> As always we are here: Ready2Help you!</h4>

  <img src="/assets/helpdesk1.jpg" alt="Ready2Help"  style="width:25%"/>

  <app-footer></app-footer>